
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*color */
.color-primary{
    color: #FD6E0A;
}
.color-secondary{
    background-color: #FFF8F3;
}
.dark1{
    color: #181818;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 5px;
    border:none;
}
.btn-secondary{
    background-color: white;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 5px;
    border-color:#FD6E0A;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-details{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}
/*header*/
.header{
    background-image:url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position:top left, bottom right
}

/*nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 400;
    font-size: 20px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul li a {
    text-decoration: none;
}
/*banner styles*/

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
} 
.banner-title{
    font-weight: bold;
    font-size: 85px;

} 
.banner-details{
    font-weight: 400;
    font-size: 25px;
}
.banner-profile-pic{
    width: 580px;
    height: 675px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 200px;
}
.banner-content{
    max-width: 580;
}
main{
    max-width: 1140px;
    margin:0 auto;

}
/*about styles*/
.about{
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
    margin-top: 130px;
}
.item-title{
    font-weight: 400;
    font-size: 20px;
}
.item-details{
    font-weight: bold;
    font-size: 20px;

}
.about-items{
    display: flex;
    justify-content:space-around;
    gap: 50px;
}